button {
	padding: 10px 20px 10px 20px;
}

h3 {
	font-family: Helvetica;
}

div {
	color: white;
	padding: 10px 10px 10px 10px;
	margin: 10px;
	width: 150px;
	height: 150px;
	text-align: center;
	font-size: 1.5em;
	display: inline-block;
}

/***********************************************/

.div1 {
	background: black;
}

.style1 {
	background-color: black;
	color: white;
	font-size: 12px;
	border: 2px solid white;
	text-align: center;
	font-weight: bold;
}

.style1:hover {
	background-color: white;
	color: black;
	box-shadow: 0 0 10px 2px teal;
}

.style1:active {
	background-color: black;
	color: white;
}

.style1:focus {
	outline: none;
	box-shadow: 0 0 10px 2px teal;
}

/***********************************************/

.div2 {
	background-image: url("background-img.jpeg");
	background-size: 100%;
}

.style2 {
	background-color: rgba(0,0,0,0.5);
	color: white;
	font-size: 12px;
	border: 2px solid white;
	border-radius: 8px;
	text-align: center;
	font-weight: bold;
}

.style2:hover {
	background-color: rgba(0,0,0,0.7);
}

.style2:active {
	background-color: transparent;
}

.style2:focus {
	outline: none;
	box-shadow: 0 0 15px 0 black;
}
/***********************************************/

.div3 {
	background-color: white;
	border: 2px solid black;
	color: black;
	font-weight: bold;
}

.style3 {
	background-color: white;
	border: 2px solid black;
	font-weight: bold;
}

.style3:hover {
	border-style: dashed;
}

.style3:active {
	color: #777;
}

.style3:focus {
	outline: 3px solid lightblue;
}

/***********************************************/

.div4 {
	background: url("http://bgfons.com/upload/stucco_texture2035.jpg");
	background-size: 100% 100%;
	color: #333333;
	font-weight: bold;
}

.style4 {
	border: 3px outset white;
	font-weight: bold;
	color: #333333;
}

.style4:hover {
	background-color: lightgrey;
}

.style4:active {
	border-style: inset;
}

.style4:focus {
	outline: 3px solid #bbb;
}